<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>ShorturlCreator</title>
</head>
<body>
    {{{ body }}}
    <script src="/javascripts/bootstrap.js"></script>
    <script>
      const urlForm = document.querySelector('#urlForm')
      const urlInput = document.querySelector('#urlInput')
      const copyBtn = document.querySelector('#copyBtn')
      const shortUrlLink = document.querySelector('#shortUrlLink')

      // 如果沒輸入網址，不可送出表單並提示使用者
      if (urlForm) {
        urlForm.addEventListener('submit', function (event){
          if (!urlInput.value) {
            event.preventDefault()
            alert('請輸入網址!')
          }
        })        
      }

      // 複製產生的短網址
      if (copyBtn) {
        copyBtn.addEventListener('click', function (event) {
          navigator.clipboard.writeText(shortUrlLink.innerText)
          alert(`已複製網址:${shortUrlLink.innerText}`)
        })         
      }
    </script>
</body>