<div class='container text-center'>
  <h1>ShorturlCreator</h1>
  <img
    src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
    class='rounded mx-auto d-block'
    alt='...'
  />
  <form action='/api/123'>
    <div class='input-group mb-3'>
      <input
        type='text'
        class='form-control'
        placeholder="Input URL here"
      />
      <button
        class='btn btn-outline-primary'
        type='button'
        id='button-addon2'
      >Get URL</button>
    </div>
  </form>
</div>