<div class='container text-center'>
  <h1>ShorturlCreator</h1>
  <img
    src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
    class='rounded mx-auto d-block'
    alt='...'
  />
    <div>
        Result:
        <a href="http://locahost:3000/{{id}}">http://locahost:3000/{{id}}</a>
    </div>
</div>